@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700;800&family=Source+Sans+Pro:wght@400;600;700&display=swap');


:root {
    --brand: #B33030;
    --white: #ffffff;
    --body: #606060;
    --dark: #19282F;
    --border-color: rgba(0, 0, 0, 0.10);
    --border-width: 1px;
    --border-radius: 5px;
}

/* reset & helpers */


/* Hero */

/* navbar */

/* services */

/* cta */

/* portfolio */

/* reviews */

/* team */

/* milestone */

/* blog */

/* contact */

/* Footer */
